flask~=3.0
flask_cors~=4.0
black~=22.0
flake8>=3.7.9, <5.0
isort~=5.0
requests>=2.23.0
python-json-logger~=2.0
openai~=0.28
langchain~=0.0.310
chromadb~=0.4
faiss-cpu~=1.7
pandas~=2.1
tiktoken~=0.5
python-lambda-local~=0.1
gspread~=5.11
oauth2client~=4.1
slack-sdk~=3.21.3
slack-bolt~=1.18